.noteCard {
    padding: 5px;
    border-radius: 10px;
    max-width: 10vw;
    width: 100%;
    font-size: 12px;
    text-align: center;
    position: relative;

    &__title {
        font-size: 14px;
    }

    &__date {
        font-size: 8px;
    }

    &__actions {
        position: absolute;
        bottom: 5px;
        right: 5px;
        cursor: pointer;
        max-width: fit-content;
    }
}