$divider: #EBEFF2;

// main colors
$main-blue: #109CF1;
$main-green: #2ED47A;
$main-yellow: #FFB946;
$main-red: #F7685B;

// secondary colors
$secondary-black: #192A3E;
$secondary-gray: #90A0B7;
$secondary-dark-blue: #334D6E;
$secondary-table-gray: #707683;
$secondary-table-black: #323C47;
$secondary-icon-gray: #C2CFE0;