@mixin medium-11 {
    font-weight: 500;
    font-size: 11px;
}

@mixin medium-12 {
    font-weight: 500;
    font-size: 12px;
}

@mixin medium-13 {
    font-weight: 500;
    font-size: 13px;
}

@mixin medium-14 {
    font-weight: 500;
    font-size: 14px;
}

@mixin medium-16 {
    font-weight: 500;
    font-size: 16px;
}

@mixin semibold-11 {
    font-weight: 600;
    font-size: 11px;
}

@mixin semibold-12 {
    font-weight: 600;
    font-size: 12px;
}

@mixin semibold-13 {
    font-weight: 600;
    font-size: 13px;
}

@mixin semibold-14 {
    font-weight: 600;
    font-size: 14px;
}

@mixin semibold-16 {
    font-weight: 600;
    font-size: 16px;
}

@mixin semibold-18 {
    font-weight: 600;
    font-size: 18px;
}