@use '@/shared/mixins' as *;
@use '@/shared/colors' as *;

.badge {
    @include medium-11;

    border-radius: 4px;
    padding: 0 8px;
    height: 22px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    &--red {
        background: $main-red;
    }
    &--blue {
        background: $main-blue;
    }
    &--green {
        background: $main-green;
    }
    &--yellow {
        background: $main-yellow;
    }
}